<% include common/header.ejs %>

<div class = "main container-fluid">
    <div class="row">
        <div class="left_panel">
            <div class="main-title">
                <h2>
                    <span class="title-text"> М'ясні піци</span>
                    <span class="orange_label pizza-count">0</span>
                </h2>
            </div>

            <div class="all-pizza-type-wrap">
                <ul class="nav nav-pills all-pizza-type">
                    <li role="presentation" class="active pizza-filter-button pizza-button" id="filter-button-all-pizza">
                        <a href="#">Усі</a>
                    </li>
                    <li role="presentation" class="pizza-filter-button pizza-button"  id="filter-button-meat">
                        <a href="#" >Мясні</a>
                    </li>
                    <li role="presentation" class="pizza-filter-button pizza-button" id="filter-button-pineapples">
                        <a href="#">З ананасами</a>
                    </li>
                    <li role="presentation" class="pizza-filter-button pizza-button" id="filter-button-mushrooms">
                        <a href="#">З грибами</a>
                    </li>
                    <li role="presentation" class="pizza-filter-button pizza-button" id="filter-button-ocean">
                        <a href="#">З морепродуктами</a>
                    </li>

                </ul>
            </div>

            <div class="row" id="pizza_list">
                <!-- сюди додаватимуться піци $pizza_list  -->

            </div>


            <div class ="right_panel">

                <div class="top-part">
                 <span class="text_order">Замовлення
                 <span class="orange_label count_pizza">0</span>
                 </span>
                    <span class="clean"> Очистити замовлення </span>
                </div>

                <div class="empty" display="block">Пусто в холодильнику? </div>
                <div class="empty e2" display="block"> Замовте піцу!</div>

                <div class="main-part">


                </div>

                <div class="bottom-part">
                    <span id="text_sum" style="display: inline-block;"> Сума замовлення </span>
                    <span id="count" style="display: inline-block;"> 000 </span>
                    <div class="do_order_button">
                        <button type="button" class="btn btn warning button order_pizza" >
                         Замовити
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<% include common/footer.ejs %>