<% include common/header.ejs %>

            <div class="row" id="pizza_list">
                <!-- сюди додаватимуться піци $pizza_list  -->

            </div>


            <div class ="right_panel">

                <div class="top-part">
                 <span class="text_order"> Замовлення
                 <span class="orange_label count_pizza">0</span>
                 </span>
                    <span class="clean"> Очистити замовлення </span>
                </div>

                <div class="main-part">


                </div>

                <div class="bottom-part">
                    <span class="text_sum"> Сума замовлення </span>
                    <span class="count"> 000 </span>
                    <div class="do_order_button">
                        <button type="button" class="btn btn warning button">
                            <a href="http://localhost:5050/index.html" style="color:white;">Редагувати замовлення</a>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<% include common/footer.ejs %>