<% include common/header.ejs %>

<div class="order-panel">
    <div class="order-title"> 1. Контактні дані </div>

</div>


            <div class ="right_panel">

                <div class="top-part">
                 <span class="text_order"> Замовлення
                 <span class="orange_label count_pizza">0</span>
                 </span>
                    <span class="clean"> Очистити замовлення </span>
                </div>

                <div class="main-part">


                </div>

                <div class="bottom-part">
                    <span id="text_sum"> Сума замовлення </span>
                    <span id="count"> 000 </span>
                    <div class="do_order_button">
                        <button type="button" class="btn btn warning button"  onclick='location.href="http://localhost:5050/index.html"'>
                            Редагувати замовлення
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<% include common/footer.ejs %>