<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}

   %>


<div class="col-sm-6 col-md-4 pizza-card">
    <div class="thumbnail">
        <img class="pizza-icon" src="<%= pizza.icon %>" alt="Піца">

        <% if(pizza.is_new) { %>
        <span class="label label-danger">Нова</span>
        <% } else if(pizza.is_popular) {%>
        <span class="label label-success">Популярна</span>
        <% } %>

        <div class="caption"><h3><%= pizza.title %></h3>
            <h5><%= pizza.type %></h5>
            <div class="description"> <%= getIngredientsArray(pizza).join(", ") %> </div>
            <div class="row">
                <div class="col-sm-6 small-pizza">
                    <div>
                        <img class="size-icon" src="assets/images/size-icon.svg" alt="Розмір">
                        <span class="number"> 30 </span>
                    </div>
                    <div>
                        <img class="size-icon" src="assets/images/weight.svg" alt="Розмір">
                        <span class="number"> 430 </span>
                    </div>
                    <h2>
                        <div class="price">
                            99
                            <div style="font-size: 14px">грн</div>
                        </div>
                    </h2>
                    <button class="btn btn-primary buy-little">Купити велику</button>
                </div>


                <div class="col-sm-6 big-pizza">
                    <div>
                        <img class="size-icon" src="assets/images/size-icon.svg" alt="Розмір">
                        <span class="number"> 40 </span>
                    </div>
                    <div>
                        <img class="size-icon" src="assets/images/weight.svg" alt="Розмір">
                        <span class="number"> 660 </span>
                    </div>
                    <h2>
                        <div class="price">
                            169
                            <div style="font-size: 14px">грн</div>
                        </div>
                    </h2>
                    <button class="btn btn-primary buy-small">Купити маленьку</button>
                    <button class="btn btn-primary buy-big">Купити велику</button>
                </div>

            </div>
        </div>
    </div>


</div>

